* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 100vh;
  width: 100%;
}

textarea {
  background-image: 
    conic-gradient(
      from 0deg at top left in oklch, 
      oklch(0% 0.50 156) 0%, oklch(70% 0.5 261) 100%
    )
  ;
  font-size: 1.3em;
  font-weight: 500;
  width: 100%;
  height: 100%;
  resize: none;
  border-radius: 0.5rem;
  /* background: black; */
  color: white;
  padding: 0.5rem 1rem;
}

iframe {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
